---
const { title = 'Portfolio' } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-br from-slate-900 to-indigo-900 min-h-screen text-white">
    <slot />
  </body>
</html>
